table {
    border-collapse: collapse;
}

td {
    border: 1px solid rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    border: 0;
    position: relative;
    top: -800px;
    right: 180px;
}

.selected {
    background-color: rgb(134, 226, 210);
}
.found {
     background-color: lightgreen;
}
.word-item.encontro {
    text-decoration: line-through;
}
